{{>header}}
    <!--main code-->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main-header-right">
                        <figure>
                            <img src="images/bg1.jpg" alt="express" class="img-fluid" title="Express Developer">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main-header-left">
                        <p>Welcome to Express Wether App</p>
                        <h1>i am a <span>Express developer</span> and develop webapps</h1>
                        <a href="https://krishna620350.github.io/krishna.github.io/"
                            target="_new"><button>abou-me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{>footer}}