{{>header}}
    <div class="row">
        <div class="col-md-6 col-12 main-header-left">
            <p>Ooo.. page not found</p>
            <h1>page fault <span>404</span> error</h1>
            <a href="/"><button>check-back</button></a>
        </div>
    </div>
{{>footer}}